* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
  font-size: 62.5%;
  margin: 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1;
  height: 100%;
  margin: 0;
  // overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: bold;
  font-size: 2.2rem;
}
button {
  width: 75px;
  padding: 2px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #bcbdc1;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    filter: brightness(85%)
  }
  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
}

form {
  width: 28rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  fieldset {
    border: 0;
    display: flex;
    align-items: center;
    width: 250px;
    background-color: #f7f8fa;
    position: relative;
    padding-top: 50px;
    padding-bottom: 1rem;
    margin: 1rem;
    border-radius: 2%;
    // height: 20em;
  }
  .form-per {
    flex: 1;
  }
  .form-exp {
    flex: 3;
  }

  .form-edu {
    flex: 2;
  }
  legend {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 10px;
  }
  input, textarea {
    width: 20rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: ease-in-out, color .35s ease-in-out;
    &:focus::placeholder {
      color: transparent;
    }
  }
  textarea {
    width: 20rem;
    height: 5rem;
  }
  .btn-add {
    // display: flex;
    font-weight: bold;
    font-size: 28px;
    width: 3rem;
    position: absolute;
    top: 8px;
    right: 15px;
    border-radius: 35%;
    text-align: center;
    background-color: transparent;
    // border: solid;
  }
  .btns-container {
    display: flex;
    width: 20rem;
    justify-content: center;
    gap: 1rem;
    > button {
      flex: 1;
    }
  }
}

#root {
  display: flex;
  justify-content: center;
  background-color: #2f3648;
  min-height: 100%;
  gap: 2.5rem;
  // flex-flow: column;
  // flex: 1 0 auto;
  .overview {
    display: flex;
    flex: 1 1 auto;
    top: 5px;
    position: sticky;
    flex-direction: column;
    align-items: center;
    // align-self: flex-start;
    // align-content: flex-start;
    max-width: 750px;
    max-height: 725px;
    background-color: #f7f8fa;
    margin: 1rem;
    > div {
      display: flex;
      flex-direction: column;
      width: 95%;
      border-bottom: 2px solid black;
      padding: 1rem;
    }

    .item-header {
      font-weight: 600;
      font-size: 1.5rem;
    }
    .overview-general {
      align-items: center;
      font-size: 1.5rem;

    }
    .overview-exp {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: .7rem;
    .company-title {
      display: flex;
      gap: .5rem;
    }
    .duration {
      display: flex;
      gap: .3rem;
    }
    }
    .item {
      display: flex;
      flex-direction: column;
      gap: .2rem;
      font-size: 1.4rem;
      padding-left: 1rem;
    }
    .overview-edu {
      align-items: flex-start;
      margin-bottom: 1rem;
      border: none;
      gap: .7rem;
    }
  }
}