* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

button {
  width: 50px;
  padding: 0px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

button:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

form {
  width: 28rem;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form fieldset {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  background-color: #f7f8fa;
  position: relative;
  padding-top: 50px;
  padding-bottom: 1rem;
  margin: 1rem;
  border-radius: 2%;
}

form .form-per {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form .form-exp {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

form .form-edu {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

form legend {
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 10px;
}

form input {
  width: 20rem;
  font-weight: 600;
  -webkit-transition: ease-in-out, color .35s ease-in-out;
  transition: ease-in-out, color .35s ease-in-out;
}

form input:focus::-webkit-input-placeholder {
  color: transparent;
}

form input:focus:-ms-input-placeholder {
  color: transparent;
}

form input:focus::-ms-input-placeholder {
  color: transparent;
}

form input:focus::placeholder {
  color: transparent;
}

form textarea {
  width: 20rem;
  height: 5rem;
}

form .btn-add {
  font-weight: bold;
  font-size: 15px;
  height: 2rem;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 35%;
  text-align: center;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2f3648;
  height: 100%;
}

#root .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: 95%;
  background-color: #f7f8fa;
  margin: 1rem;
}

#root .overview > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  border-bottom: 2px solid black;
  padding: 1rem;
}

#root .overview .overview-general {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .overview .overview-exp {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#root .overview .overview-edu {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
  border: none;
}
/*# sourceMappingURL=styles.css.map */