* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}
button {
  width: 50px;
  padding: 0px;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    filter: brightness(85%)
  }
  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
}

form {
  width: 28rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  fieldset {
    border: 0;
    display: flex;
    align-items: center;
    width: 250px;
    background-color: #f7f8fa;
    position: relative;
    padding-top: 50px;
    padding-bottom: 1rem;
    margin: 1rem;
    border-radius: 2%;
    // height: 20em;
  }
  .form-per {
    flex: 1;
  }
  .form-exp {
    flex: 3;
  }

  .form-edu {
    flex: 2;
  }
  legend {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 10px;
  }
  input {
    width: 20rem;
    font-weight: 600;
    transition: ease-in-out, color .35s ease-in-out;
    &:focus::placeholder {
      color: transparent;
    }
  }
  textarea {
    width: 20rem;
    height: 5rem;
  }
  .btn-add {
    // display: flex;
    font-weight: bold;
    font-size: 15px;
    height: 2rem;
    position: absolute;
    top: 20px;
    right: 10px;
    border-radius: 35%;
    text-align: center;
    // margin-top: auto;
    // margin-bottom: auto;

  }
}

#root {
  display: flex;
  justify-content: space-around;
  background-color: #2f3648;
  height: 100%;
  .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-content: flex-start;
    width: 65%;
    height: 95%;
    background-color: #f7f8fa;
    margin: 1rem;
    > div {
      display: flex;
      flex-direction: column;
      
      width: 95%;
      border-bottom: 2px solid black;
      padding: 1rem;
    }
   .overview-general {
    align-items: center;

   }
   .overview-exp { 
    align-items: flex-start;
    flex-grow: 1;
   
  }
  .overview-edu {
    align-items: flex-start;
    margin-bottom: 1rem;
    border: none;
  }
  }
}